#wrap
  #productblock
  #product__image          
    =image_tag "../images/instock.png", :class => "instock_onproduct", :alt => "В наличии" if @product.in_stock
    =image_tag @product.productimages.first.image, :style => "width:346px"
  =render 'form'
