-title "заказ #{@product.category.name} #{@product.articul}"
#wrap
  #productblock
    #product__orderimage          
      =image_tag @product.productimages.first.image, :style => "width:346px"
    #product__order
      %h2 
        Заказ
        = @product.articul
      =render 'form'
      #howto
        #arrows
