<div class="text_about">
	<p>Платье изготавливается по вашим меркам или по <a href="/sizes">стандартным размерам</a>. Пошив и доставка занимают 25 – 40 дней.</p>
	<p>Срочное выполнение заказа:</p>
	<p>15 – 25 дней (дополнительно 500 грн.)</p>
	<p>7 дней (дополнительно 1000 грн.)</p>
</div>
<table cellpadding="0" cellspacing="0" id="table_about">
	<tbody>
		<tr>
			<td class="table_label">Доступны материалы</td>
			<td><p>атлас, тафта, шифон, органза, шелк, кружево, фатин</p></td>
		</tr>
		<tr>
			<td class="table_label">Доступны украшения</td>
			<td><p>кристаллы Swarovski, стеклярус бисер, блестки, вышивка.</p></td>
		</tr>
		<tr>
			<td class="table_label">Доступны застежки</td>
			<td><p>молния или шнуровка.</p></td>
		</tr>
		<tr>
			<td class="table_label">Доступны цвета</td>
			<td><p>белый, светлый айвори, айвори, темный айвори, шампань. <a href="/sizes#colors">Посмотреть цвета →</a></p></td>
		</tr>
	</tbody>
</table>