#products
  -@products.each do |product|
    .product
      = link_to image_tag(product.productimages.first.image.url(:thumb), :alt => product.articul ),"#", :class => "image"
      .meta
        = product.category.name
        = link_to product.articul