#products
  -@products.each do |product|
    -if product.is_active
      .product
        = image_tag "../images/instock.png", :class => "instock", :alt => "В наличии" if product.in_stock
        = link_to image_tag(product.productimages.first.image.url(:thumb), :alt => product.articul), show_product_path(product.type.alias, product.category.alias, product.articul), :class => "image"
        .meta
          = product.category.name unless product.category.nil?
          = link_to product.articul, show_product_path(product.type.alias, product.category.alias, product.articul)