-title "#{@product.category.name} #{@product.articul}"
#wrap
  #productblock
    #product__image
      #product__image_stack
        -@product.productimages.each do|productimage|
          =link_to image_tag(productimage.image.url(:thumb), :style => "width:88px"), "javascript:void(0);", :rel => "{gallery: 'gal', smallimage: '#{productimage.image}',largeimage:'#{productimage.image}'}"
            
      =image_tag "../images/instock.png", :class => "instock_onproduct", :alt => "В наличии", :style => get_instock_margin if @product.in_stock
      =link_to image_tag(@product.productimages.first.image, :style => get_image_size), @product.productimages.first.image.to_s, :class => "zoomer", :rel => "gal"
    #product__info
      %h1=@product.category.name
      %span.articul
        Артикул
        =@product.articul
      %hr.marg
      #discount
        - unless @product.discount==0
          =number_to_currency @product.price, :precision => 0, :unit => ""
          грн
      %span#price
        =number_to_currency @product.price-@product.discount, :precision => 0, :unit => ""
        %span.uah грн
        
      =link_to "", product_order_path(current_type, current_category, current_articul, :product_id => @product.id), :id => "buy_button", :onclick => "this.blur();"
      
      #prevnext
        =link_to "←", show_product_path(current_type, current_category, @previos_product.articul), :id => "previos_dress" unless @previos_product.nil?
        =link_to "Следующее платье →", show_product_path(current_type, current_category, @next_product.articul), :id => "next_dress" unless @next_product.nil?

      %hr
      =@product.about.html_safe
        