#wrap
  #productblock
    #product__image
      #product__image_stack
        -@product.productimages.each do|productimage|
          =link_to image_tag(productimage.image.url(:thumb), :style => "width:88px"), "javascript:void(0);", :rel => "{gallery: 'gal', smallimage: '#{productimage.image}',largeimage:'#{productimage.image}'}"
            
      =image_tag "../images/instock.png", :class => "instock_onproduct", :alt => "В наличии" if @product.in_stock
      =link_to image_tag(@product.productimages.first.image, :style => "width:346px"), @product.productimages.first.image.to_s, :class => "zoomer", :rel => "gal"
    #product__info
      %h1=@product.category.name
      %span.articul
        Артикул
        =@product.articul
      %hr
      %span#price
        =@product.price
        %span.uah грн
        
      =link_to "", product_order_path(current_type, current_category, current_articul, :product_id => @product), :id => "buy_button", :onclick => "this.blur();"
      %hr
      =@product.about.html_safe
        