#typechooser
  %ul
    -list=""
    -@categories.each do |category|
      -if current_category == category.alias
        -list += "<li class='typechooser__active'><span>#{category.name}</span></li>"
      -else
        -list += "<li>#{link_to category.name, products_path(current_type, category.alias)}</li>"
        
    =list.html_safe
      
  %hr