#header
  = link_to "", root_path, :id=>"header__logo"
  #header__infomenu
    %ul
      -@pages.each do |page|
        %li= link_to_unless_current page.name, page_path(page.alias)
  #header__telefon
    %span 093 206-63-02
#menu
  %ul
    -i=0
    -list=""
    -@types.each do |type|
      -i+=1
      -list += "<li>"
      -if current_type == type.alias
        -list += link_to_unless_current type.name.mb_chars.upcase.to_s, products_path(type.alias, "all"), :class => "active"
        -if i!=@types.size
          -list += "<span>·</span>"
      -else
        -list += link_to_unless_current type.name.mb_chars.upcase.to_s, products_path(type.alias, "all")
        -if i!=@types.size
          -list += "<span>·</span>"
    =list.html_safe