#header
  #header__logo= image_tag "../images/header_logo.png", :alt => "La Sposa"
  #header__infomenu
    %ul
      -@pages.each do |page|
        %li= link_to page.name
  #header__telefon
    %span 093 346-97-96
#menu
  %ul
    -i=0
    -@types.each do |type|
      -i+=1
      %li
        -if current_type == type.alias
          = link_to_unless_current type.name.mb_chars.upcase.to_s, products_path(type.alias, "all"), :class => "active" if is_empty(type)
          -if i!=@types.size && is_empty(type)
            %span ·
        -else
          = link_to_unless_current type.name.mb_chars.upcase.to_s, products_path(type.alias, "all") if is_empty(type)
          -if i!=@types.size && is_empty(type)
            %span ·
       