.info.corners
	У нас, Вы сможете заказать аналоги платьев известных мировых дизайнеров. Мы гарантируем 97% соответствие платьев оригиналу. Для Вас, мы сделаем точную копию платья не только по представленным фото у нас на сайте, но и по Вашим фотографиям, эскизам. Только у нас Вы сможете воплотить мечту о прекрасном платье за умеренную стоимость в реальность.
	.tl
	.tr
	.bl
	.br
	.under-block-shadow